.App {
    font-family: 'Aldrich', sans-serif;
    background:rgb(111, 194, 111);
    color: gray;
}

.overlay  {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(216, 179, 56, 0.2);
    /* opacity : 0.5; */
}

#intro {
    background-image: url('../../assets/intro-img.jpg');
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../assets/intro-img.jpg"); */
    /* background-opacity: 0.5; */
    /* background-color: rgba(0,0,0,0.05); */
    filter: contrast(1.2) saturate(1.5) hue-rotate(90deg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

h1 {
    /* font-family: 'PT Sans', sans-serif;  */
}

.IntroText {
    margin: 10% auto;
    border-radius: 25px;
    background-color: rgba(216, 179, 56, 0.33);
    color: rgb(55, 54, 54)
}

.IntroText h1 {
    /* font-family: 'Roboto Condensed', sans-serif; */
    text-align: center;
    color: rgba(216, 179, 56, 1);
}

.l1 {
    /* font-family: 'Roboto Slab', serif; */
    color: rgba(234, 199, 95,1);
}

.l2 {
    color: rgb(234, 219, 171);
}

h2 {
    position: absolute;
    text-align: center;
    left: 50%;
    /* font-family: 'Montserrat', sans-serif; */
    padding-top: 200px;
}

.carousel-inner img {
    width: auto;
    height: 400px;
    max-height: 400px;
    padding: 20px;
}

#skill {
    position: relative;
    background:rgb(111, 194, 111);
    z-index: 2;
    margin-top: 500px;
}

#hobby {
    background:rgb(111, 194, 111);
    z-index: 2;
}

#language {
    background:rgb(111, 194, 111);
    z-index: 2;
}

#project {
    background:rgb(111, 194, 111);
    z-index: 2;
}

#footer {
    padding: 30px;
    background-color: black;
    text-align: center;
}

#footer a {
    padding: 10px;
}